#dropdown-item-button{
  background-color:transparent !important;
  border: lightblue;
  color: grey;
}

.content{
 font-size: 60pt;
}

.buffer{
  margin-top: 20%;
}

.deleteBtn{
  padding-left: 5%;
  width: 15px;
  border-radius: 25%;
  float: center ;
  align-items: center; 
}

/* .deleteBtn:hover{
  background-color: black;
  color: white;
} */


.footerLink{
background-color: transparent !important;
font-size:small;
color: black !important;
}

.footerLink:hover{
  color: black !important;
}

.messagePadding{
 padding: 3% ; 
}


/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

 /* @media (prefers-reduced-motion: no-preference) {
  .content {
    animation: content-spin infinite 20s linear;
  }
}

@keyframes content-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
